[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aea = {version = "==1.1.0", extras = ["all"]}
aea-ledger-ethereum = "==1.1.0"
aea-ledger-fetchai = "==1.1.0"

[dev-packages]

[requires]
python_version = "3.8"
