[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aea = {version = "==1.1.0", extras = ["all"]}
aea-ledger-fetchai = "*"
betterproto = {version = "==2.0.0b5", extras = ["compiler"]}
janus = "*"

[dev-packages]
isort = "*"
black = "==21.4b0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
